# Bootstrap
app/bootstrap*

# Symfony directories
/vendor
/nbproject
*/logs/*
*/cache/*
web/uploads/*
web/bundles
bin
composer.phar
# Configuration files
app/config/parameters.ini
app/config/parameters.yml