parameters:
    mongodb_database: symfony2_3_1_mongodb
    mongodb_connections:
        default:
            server: mongodb://localhost:27017
            options:
                connect: true
    
    mailer_transport:  smtp
    mailer_encryption: ssl
    mailer_auth_mode: login
    mailer_host:       smtp.gmail.com
    mailer_sender_email:    KIMDANH8XX@gmail.com
    mailer_user: KIMDANH8XX
    mailer_password: trandangtrinh
    mailer_standard_name:       KIMDANH8XX@gmail.com			

    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt

    max_post_on_post: 5
    path: http://localhost/symfony/kcfinder/browse.php