{% extends "LikipeFrontendBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Check email{% endblock %}
{% block fos_user_content %}
	<div class="row-fluid">
		<div class="well span5 center login-box">
			<div class="alert alert-info">
				Please confirm your Symfony account in email <strong>{{user.email}}</strong> before login. Thanks.
			</div>
			<div class="center span6">
				<p class="row-fluid">
					<a href="{{ path('fos_user_security_login') }}" class="btn btn-primary span7">Login</a>
					<a class="btn btn-success span5" href="{{ path('_welcome') }}">Cancel</a>
				</p>
			</div>
		</div><!--/span-->
	</div><!--/row-->
{% endblock fos_user_content %}