{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{% trans %}E hade skickat{% endtrans %}{% endblock %}

{% block fos_user_content %}
<div class="space-top login-form">
    <div class="row-fluid pagination-centered">
		<p>{{ 'resetting.password_already_requested'|trans }}</p>
	</div>
</div>
{% endblock fos_user_content %}
