{% block subject %}Confirm your Symfony account.{% endblock %}
{% block body_html %}
<div style="margin:0;padding:0;background:#fff">
	<table width="100%" cellspacing="0" cellpadding="0" border="0" style="background:#ddd">
		<tbody>
			<tr>
				<td>
					<table width="670" cellspacing="0" cellpadding="0" border="0" align="center" style="background:#fff;border:0;border-left:1px solid #ccc;border-right:1px solid #ccc">
						<tbody>
							<tr>
								<td>
									<table width="670" cellspacing="0" cellpadding="0" border="0" style="background:#f2f2f2;table-layout:fixed">
										<tbody>
											<tr>
												<td style="width:19px;min-height:77px">   </td>
												<td width="46" valign="top" height="94" rowspan="2" style="background:#fff;line-height:100%"> </td>
												<td width="9">   </td>
												<td width="10" height="77">   </td>
												<td width="458" height="77" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333">
													<table cellspacing="0" cellpadding="0" border="0">
														<tbody>
															<tr>
																<td style="font-size:14px;font-weight:bold;color:#000">
																	<span dir="ltr">Hello {{user.username}},</span>
																</td>
															</tr>
															<tr>
																<td style="font-size:14px;color:#666">
																	Please
																	<span class="il">confirm</span>
																	your Symfony account.
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td width="10" height="77">   </td>
												<td width="32" style="text-align:right"> </td>
												<td style="width:85px"></td>
											</tr>
											<tr>
												<td style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"> </td>
												<td style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"> </td>
												<td height="17" style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
													<img width="1" height="1" style="display:block;border:0">
												</td>
												<td height="17" style="background:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif" colspan="4"> </td>
											</tr>
										</tbody>
									</table>
								</td>
								<td rowspan="3"></td>
							</tr>
							<tr>
								<td style="background:#fff">
									<table width="670" cellspacing="0" cellpadding="0" border="0" style="background:#fff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
										<tbody>
											<tr>
												<td style="width:85px"></td>
												<td>
													<table cellspacing="0" cellpadding="0" border="0">
														<tbody>
															<tr>
																<td style="padding:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px">
																	<span class="il">Confirming</span>
																	your account will give you
																	<strong>full access to Symfony2</strong>
																	and all future notifications will be sent to this email address.
																</td>
															</tr>
															<tr>
																<td height="10"></td>
															</tr>
															<tr>
																<td style="padding:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333">
																	<table cellspacing="0" cellpadding="0" border="0">
																		<tbody>
																			<tr>
																				<td>
																					<table cellspacing="0" cellpadding="0" border="0" style="white-space:nowrap;background-color:#33a9e5;border-radius:5px;border:1px solid #2288cc;padding:5px 0 5px 0;text-align:center;min-height:28px">
																						<tbody>
																							<tr>
																								<td align="center" style="color:#ffffff;font-size:13px;font-weight:bold;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;white-space:nowrap;padding-left:30px;padding-right:30px">
																									<span>
																										<a target="_blank" style="border:none;color:#0084b4;text-decoration:none;color:#ffffff;font-size:13px;font-weight:bold;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif" href="{{confirmationUrl}}">
																											<span class="il">Confirm</span>
																											your account now
																										</a>
																									</span>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td height="25"></td>
															</tr>
														</tbody>
													</table>
												</td>
												<td style="width:85px"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="670" cellspacing="0" cellpadding="0" border="0" bgcolor="#eeeeee" style="background-color:#eee;background-image:url('');background-repeat:repeat-x;border-top-color:#ddd;border-top-style:solid;border-top-width:1px">
										<tbody>
											<tr>
												<td height="16" colspan="4"></td>
											</tr>

											<tr>
												<td height="25" colspan="3"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}