/* ==========================================================================
   Author's: Mr Rony <rony@likipe.se>
   ========================================================================== */

.container-fluid .btn,
.container input.btn,
.container a,
.container select,
.container select option {
	outline-style: none !important;
}

.message-comment,
.description-blog {
	height: 250px;
}

.list-posts thead tr th {
	text-transform: uppercase;
	text-align: center;
}

footer .container p {
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

.status-post > label {
	display: inline-block;
}

.form-user ul {
	list-style: none;
}

.form-user #user div ul li {
	color: #ee0000;
}

.btn-delete,
.btn-edit {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
	display: block;
	text-align:center;
}

.label-post,
.label-comment {
	height: 26px;
	text-align: center;
	display: block;
	line-height: 26px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
}

.login-header {
    height: 120px;
    padding-top: 30px;
}

.login-header > h2 {
	text-transform: uppercase;
	color: #317EAC;
	font-size: 24px;
}

.lastname {
	color: #317EAC;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 400;
}

.lastname span {
	font-weight: 600;
}

label.remember {
	line-height: 24px;
	font-size: 13px;
}

#uniform-remember_me {
	margin-bottom: 2px;
}

.navbar-inverse .brand.title {
	font-weight: 600;
	color: #317EAC;
	font-size: 24px;
}

.navbar-inverse .nav > li > a {
	text-transform: uppercase;
}

.login-error {
	margin-bottom: 10px;
	text-align: left !important;
}

div.center,p.center,img.center{
	margin-left: auto !important;
	margin-right: auto !important;
	float:none !important;
	display: block;
	text-align:center;
}

.login-box .input-prepend{
	margin-bottom: 10px;
}
.login-box .btn{
	margin-top:15px;
	width:100%
}
.charisma_qr{
	height:136px;
	width:136px;
	border:solid grey 1px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow: 0 0 10px #BDBDBD;
	-webkit-box-shadow: 0 0 10px #BDBDBD;
	-moz-box-shadow: 0 0 10px #BDBDBD;
}
.box-content.buttons{
	min-height:297px;
}

.btn-primary {
    background-color: #43A1DA;
    background-image: -moz-linear-gradient(center top , #4BA6DB, #369BD7);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #369BD7;
}

.list-posts th img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}